@font-face {
  font-family: PlusExtraBold;
  src: url(../../../assets/fonts/plus/MPLUS1p-ExtraBold.ttf);
}

@font-face {
  font-family: PlusMedium;
  src: url(../../../assets/fonts/plus/MPLUS1p-Medium.ttf);
}

@font-face {
  font-family: PlusLight;
  src: url(../../../assets/fonts/plus/MPLUS1p-Light.ttf);
}
