@font-face {
  font-family: PlusExtraBold;
  src: url(../../../assets/fonts/plus/MPLUS1p-ExtraBold.ttf);
}

@font-face {
  font-family: PlusMedium;
  src: url(../../../assets/fonts/plus/MPLUS1p-Medium.ttf);
}

@font-face {
  font-family: PlusLight;
  src: url(../../../assets/fonts/plus/MPLUS1p-Light.ttf);
}

// @font-face {
//   font-family: AmaticBold;
//   src: url(../../../assets/fonts/amatic/AmaticSC-Bold.ttf);
// }

// @font-face {
//   font-family: AmaticRegular;
//   src: url(../../../assets/fonts/amatic/AmaticSC-Regular.ttf);
// }
