<section>
  <h3>דרכי התקשרות נוספים</h3>
  <p>התקשרו, עקבו, תעשו לייק... אני פה בשבילכם</p>
  <section class="communication-btn">
    <a href="https://www.facebook.com/smadiadadi1">
      <img
        src="https://res.cloudinary.com/disku3v4j/image/upload/v1644238532/smadi/icons8-facebook-50_1_fbbukl.png"
      />
    </a>

    <a href="https://www.instagram.com/smadiadadi/?utm_medium=copy_link">
      <img
        src="https://res.cloudinary.com/disku3v4j/image/upload/v1644238532/smadi/icons8-instagram-50_nbwd7c.png"
      />
    </a>

    <a href="tel:054-238-5587">
      <img
        src="https://res.cloudinary.com/disku3v4j/image/upload/v1644238532/smadi/icons8-phone-50_k3czgy.png"
      />
    </a>
  </section>
</section>
