section {
  h1 {
    text-align: center;
    font-size: 25px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      border-radius: 5px;
      border: 1px solid black;

      width: 340px;
      height: 30px;
      margin: 5px;
    }
    input.ng-invalid.ng-touched {
      border: 1px solid red;
    }

    div {
      display: flex;
      align-items: center;
      .checkbox {
        width: 20px;
        height: 20px;
      }
    }

    p {
      font-size: 12px;
      margin: 0 0 10px 0px;
      //   position: relative;
      //   left: 9%;
    }

    div {
      button {
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid black;

        width: 150px;
        height: 30px;
      }
    }
  }
}
