<section id="mymethod">
  <div class="mymethod1">
    <p>
      אני מניחה שכבר התנסתם בלא מעט תוכניות לירידה במשקל, חלקן מוצלחות יותר
      וחלקן פחות. אבל הבעיה, שבסוף איכשהו חוזרים למשקל העודף ולפעמים עם ריבית
      דריבית.... מכירים את זה? הפעם אני מזמינה אתכם לשינוי לתמיד, שינוי אורח
      החיים שלכם בצורה מאוזנת ולא קיצונית.
    </p>
    <h4>ברוכים הבאים לדיאטה האחרונה שלכם!</h4>
  </div>
  <div class="mymethod2">
    <h3>מה הייתם מוכנים לעשות בשביל לרדת במשקל פעם אחת ולתמיד?</h3>
    <p>
      עפי השיטה שלי, יורדים במשקל ועדיין אוכלים הכל מהכל ולא מוותרים על הדברים
      שאנחנו אוהבים. לאחד זה שוקולד, לאחר זה עוגת גבינה ויש מי שדווקא פסטה עושה
      לו את זה... הכל עניין של כמויות ומינונים נכונים. כי אפשר לרדת במשקל ולהנות
      מהדרך. השיטה שלי עובדת על דיוק הרגלים, כך שאם נעשה אותם נכון, קל יותר גם
      לרדת במשקל וגם לשמור על ההשגים לאורך זמן. אה וכמעט שכחתי, לכל אחד מתאים
      משהו קצת שונה... כי מה שטוב לי, לא בהכרח טוב לך...
    </p>
  </div>
</section>
