<section id="testimonials">
  <h3>לקוחות מספרות</h3>

  <section class="testimonials">
    <div>
      <h4>מיכל</h4>
      <p>מהקבוצה בבינלאומי, ירדה <span>13</span> ק״ג</p>
      <p></p>
      <iframe
        width="300"
        height="200"
        src="https://www.youtube.com/embed/-cDaqaEwk68"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div>
      <h4>רונית</h4>
      <p>מקריית אונו, ירדה <span>17</span> ק״ג</p>

      <iframe
        width="300"
        height="200"
        src="https://www.youtube.com/embed/V9tVgJmVF9Q"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div>
      <h4>איריס</h4>
      <p>מהקאנטרי מגדלי ת״א, ירדה <span>14</span> ק״ג</p>

      <iframe
        width="300"
        height="200"
        src="https://www.youtube.com/embed/C6NFhXKwVLw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </section>
</section>
