section {
  margin-top: 40px;
  h3 {
    color: rgb(30, 143, 180);
    font-family: PlusMedium;
    text-align: center;
    font-size: 30px;
  }

  .believes {
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-around;

    margin: 5px;

    img {
      width: 50px;
    }

    p {
      width: 250px;
    }
  }
}
