<section id="about">
  <h3>מי אני</h3>
  <div class="about">
    <p>
      נעים מאוד, שמי סמדי הדדי, מרצה ומאמנת תזונה ואורח חיים בריא, עוזרת לאנשים
      לרדת במשקל ולהרגיש טוב עם עצמם כבר מעל 15 שנה. מלווה באופן אישי צמוד
      לקוחות פרטיים ואירגונים בקבוצות הרזיה ואורח חיים בריא.
    </p>

    <p>
      גם אני הייתי שם. למעלה מ-30 שנים נלחמתי בעודף המשקל שלי. עד שיום אחד
      החלטתי שזהו. אחרי לידת בתי השנייה, החלטתי שאני רוצה לעשות שינוי אמיתי.
      הלכתי לקבוצת ירידה במשקל ושם התרחש השינוי. ירדתי כ-30 קילו ונהייתי בנאדם
      אחר, במובן הפיסי וגם במובן הרגשי. הזדקפתי. הייתי גאה. הסתכלתי במראה ואהבתי
      את מה שאני רואה ואת מי שאני רואה.
    </p>

    <p>
      ראיתי שזה אפשרי, הבנתי איך עושים זאת. הלכתי ללמוד ולהתמקצע באימון ובתזונה,
      ומאז אני מקדישה את החיים שלי לשליחות הזאת. פיתחתי את השיטה שלי, בה אנחנו
      עושים את זה בלי דאגות, בכיף ובהנאה. לקוחותיי יעידו שמי שמיישם את השיטה,
      מצליח לשמור על ההישגים לאורך זמן. בזכות השיטה שלי כבר הצלחתי לעזור לאורך
      השנים למאות אנשים.
    </p>

    <p>
      למה זה מצליח? כי אני שם איתם ביחד! בעליות ובמורדות לאורך כל השבוע. מחכה גם
      לך, לא מוותרת!
    </p>

    <div>
      <img
        src="https://res.cloudinary.com/disku3v4j/image/upload/v1644190399/smadi/ben_7309_1_900x1001_tt74nh.jpg"
      />
    </div>
  </div>
</section>
